.comment {
  display: flex;
  align-items: start;
  gap: 1rem;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 8px;
}

.commentSection {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.commentSection button {
  display: flex;
  align-items: center;
  gap: 0.625rem;

  background-color: transparent;
  border: none;
  color: var(--gray-400);
  font-weight: 700;

  cursor: pointer;
  transition: color 0.19s;
}

.commentSection button:hover {
  opacity: 0.8;
}

/* .commentSection button span {
  content: '',
} */

.commentBox {
  width: 100%;
  padding: 1rem 1rem 1.5rem 1rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  border-radius: 8px;
  background-color: var(--gray-700);
}

.commentBox header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.commentBox button {
  background-color: transparent;
  border: none;
}

.icon {
  color: var(--gray-400);
}

.icon:hover {
  transition: color 0.19s;
  color: var(--red-500);
}

.commentBox header div h2 {
  font-size: 1rem;
}

.commentBox header div span {
  font-size: 0.75rem;
  color: var(--gray-400);
}

.aplaudir {
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 0.75rem;
  color: var(--gray-400);
}
